I extracted the last UID of a mailbox with the private GetHighestUID(mailbox) method. Using this method, I modified the library so now the "Move" method returns the message inside the target mailbox. The uid is stored into the header of the message.


ah okay :)

You could also make use of a quirk of the IMAP protocol, this should also get you the UID of the last message:

```
Client.Search( SearchCondition.GreaterThan(Uint32.MaxValue - 1) );
```

This is because of the way "UID ranges" are defined by the protocol.

This is from RFC 3501, section 6.4.8. p.60:

> Also note that a UID range of 559:\* always includes the
> UID of the last message in the mailbox, even if 559 is
> higher than any assigned UID value.
